<template>
    <div class="container">
      <div v-if="article.category"><a :href="'/' + article.category.slug">{{ article.category.name }}</a> <span v-if="article.sub_category_slug"> > </span><a :href="'/' + article.sub_category_slug">{{ article.sub_category_name }}</a></div>
      <h1>{{ article.title }}</h1>
      <span v-if="article.thumb !== ''"><img :src="thumb_path + article.thumb" alt="" class="img-fluid"></span>
      <div class="details-box">
        <div v-if="article.guest_count" class="guest-count">Число участников: {{ guest_count[article.guest_count] }}</div>
        <div v-if="article.players" class="players">Кто участвует: {{ players[article.players] }}</div>
        <div v-if="article.place" class="place">Место проведения: {{ place[article.place] }}</div>
        <div v-if="article.to_whom" class="place">Кому: {{ to_whom[article.to_whom] }}</div>
        <div v-if="article.from_who" class="place">От кого: {{ from_who[article.from_who] }}</div>
        <div v-if="article.genre" class="place">Жанр: {{ genre[article.genre] }}</div>
      </div>
      <div v-html="article.body"></div>
      <div class="edit"><a :href="/article/ + this.article.id">{{edit}}</a></div>
    </div>
</template>

<script>
  import details from './data/details.json';
  import MenuComponent from './MenuComponent.vue';
  import * as CONST from '../app.js';
  export default {
    data() {
      return {
        article: {
          category: {
            'slug': '',
            'name': ''
          },
          thumb: ''
        },
        editable: 0,
        edit: '',
        article_id: '',
        categories: [],
        thumb_path: '/images/story/',
        guest_count: details.guest_count,
        place: details.place,
        players: details.players,
        to_whom: details.to_whom,
        from_who: details.from_who,
        genre: details.genre
      }
    },

    props: ['home'],

    created() {
        this.fetchCategories();
        if(editable) this.edit = 'Edit';
    },

    methods: {

      fetcharticle() {
        fetch('/api/article/' + article_id)
          .then(res => res.json())
          .then(res => {
            let vm = this;
            vm.article = res.data;

            if(res.data.category) {

              let ac = res.data.category,
                as = res.data.sub_category,
                ae = res.data.extra_category;

                this.$root.$emit('cat', { 'cat': ac, 'extra_cat': ae, a_id: article_id });
            
                vm.article.category = vm.categories[ac];
                vm.article.sub_category_name = as ? vm.categories[as].name : vm.categories[ae].name;
                vm.article.sub_category_slug = as ? vm.categories[as].slug : vm.categories[ae].slug; 

            }

            this.createMeta();

            if(vm.article.thumb === '/images/dummy.png') { 
              vm.uploadText = 'Загрузить фото';
            }


            if(!typeof ac == undefined) this.$parent.setTitleCat(vm.categories[ac].name);

          })
          .catch(err => console.log(err));
      },

      fetchCategories() {
        axios.get('/api/categories/')
          .then(res => {
            this.categories = res.data.data;
            this.categories.unshift('');
            this.fetcharticle();
          })
          .catch(err => console.log(err));
      },
      createMeta() {
        if(!this.home) {

          let meta = document.createElement('meta'),
              title = document.querySelector('title'),
              vm = this;
          meta.name = 'Description';
          meta.content = vm.article.description || CONST.DESC;
          document.getElementsByTagName('head')[0].insertBefore(meta, title);
          title.innerHTML = vm.article.title + ' • ' + (vm.article.sub_category_name || '') + ' • ' + (vm.article.category ? vm.article.category.name : '') + ' • Почитать • ' + window.location.hostname;

        }
        
      }
    }
  };
</script>
