<template>
    <div class="container">
        <form enctype="multipart/form-data" :class="disabled">
          <div class="form-row mb-3 ml-1 pb-4 border-bottom">
            <div class="col-md-4">
              <div class="border rounded mt-4 article-img" v-if="article.thumb"><img :src="article.thumb" alt="" class="img-fluid"></div>
              <label class="btn btn-light col-md-12 mt-2">{{ uploadText }}<input type="file" hidden v-on:change="onFileChange"></label>
            </div>
            <div class="col-md-7 ml-5">
              <div class="form-group">
                <label for="title">Заголовок</label>
                <input v-model="article.title" type="text" class="form-control" id="title" placeholder="">
              </div>
              <div class="form-row">
                <div class="form-group col-md-7">
                  <label for="category">Категория:</label>
                  <select v-model="article.category" class="form-control" @change="changeCat()">
                    <option v-for="category in categories" :value="category.id">{{ category.name }}</option>
                  </select>
                </div>
                <div class="form-group col-md-5">
                  <label for="sub_category">Подкатегория</label>
                  <select v-model="article.sub_category" id="sub_category" class="form-control">
                    <option v-for="sub_category in sub_categories" :value="sub_category.id">{{ sub_category.name }}</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label for="description">Краткое описание</label>
                <textarea v-model="article.description" class="form-control" id="description" placeholder=""></textarea>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="extra_category">Под-подкатегория</label>
                  <select v-model="article.extra_category" id="extra_category" class="form-control">
                    <option v-for="extra_category in extra_categories" :value="extra_category.id">{{ extra_category.name }}</option>
                  </select>
                </div>
                <div class="form-group col-md-6">
                  <label for="url">Урл</label>
                  <input v-model="article.url" type="text" class="form-control" id="url" placeholder="">
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="body">Текст статьи</label>
            <template v-if="editor">
              <vue-editor v-model="article.body" type="text" class="form-control" id="body" placeholder=""></vue-editor>
            </template>
            <template v-else>
              <textarea v-model="article.body" type="text" class="form-control" id="body" placeholder=""></textarea>
            </template>
            <label for="editor">Use Editor</label> 
            <input type="checkbox" v-model="editor">
          </div>
          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="guest_count">Количество гостей</label>
              <select v-model="article.guest_count" id="guest_count" class="form-control">
                <option v-for="(guest_count_item, index) in guest_count" :value="index">{{ guest_count_item }}</option>
              </select>
            </div>
            <div class="form-group col-md-4">
              <label for="place">Место:</label>
              <select v-model="article.place" class="form-control">
                <option v-for="(place_item, index) in place" :value="index">{{ place_item }}</option>
              </select>
            </div>
            <div class="form-group col-md-4">
              <label for="players">Кто участвует:</label>
              <select v-model="article.players" class="form-control">
                <option v-for="(players_item, index) in players" :value="index">{{ players_item }}</option>
              </select>
            </div>
            </div>
            <div class="form-row">
            <div class="form-group col-md-4">
              <label for="to_whom">Кому(тост)?</label>
              <select v-model="article.to_whom" id="to_whom" class="form-control">
                <option v-for="(to_whom_item, index) in to_whom" :value="index">{{ to_whom_item }}</option>
              </select>
            </div>
            <div class="form-group col-md-4">
              <label for="from_who">От кого:</label>
              <select v-model="article.from_who" class="form-control">
                <option v-for="(from_who_item, index) in from_who" :value="index">{{ from_who_item }}</option>
              </select>
            </div>
            <div class="form-group col-md-4">
              <label for="genre">Жанр:</label>
              <select v-model="article.genre" class="form-control">
                <option v-for="(genre_item, index) in genre" :value="index">{{ genre_item }}</option>
              </select>
            </div>
          <span class="btn btn-primary" @click="formsubmit()">Сохранить</span>
        </div>
        </form>
    </div>
</template>

<script>
  import details from './data/details.json';
  export default {
    data() {
      return {
        article: {
            title: '',
            description: '',
            body: '',
            author_id: author_id
        },
        interests: [],
        uploadText: 'Изменить фото',
        disabled: '',
        categories: [],
        sub_categories: [],
        extra_categories: [],
        guest_count: details.guest_count,
        place: details.place,
        players: details.players,
        to_whom: details.to_whom,
        from_who: details.from_who,
        genre: details.genre,
        editor: 0,
      }
    },

    created() {
      
      this.fetchCategories();

    },

    methods: {

      fetcharticle() {
        fetch('/api/article/' + id)
          .then(res => res.json())
          .then(res => {

            let vm = this;
            vm.article = res.data;
            if(!vm.article.thumb) { 
              vm.uploadText = 'Загрузить фото';
            }

            vm.sub_categories = vm.cats.filter(cat => cat.type === 1 && cat.parent_id === vm.article.category + 1);
            vm.extra_categories = vm.cats.filter(cat => cat.type === 2 && cat.parent_id === vm.article.category + 1);

            console.log(vm.article.category + 1)
          })
          .catch(err => console.log(err));
      },

      fetchCategories() {
        axios.get('/api/categories/')
          .then(res => {
            let vm = this;
            vm.cats = res.data.data;
            vm.categories = vm.cats.filter(cat => cat.type === 0);
            if(id !== 0) vm.fetcharticle();
          })
          .catch(err => console.log(err));
      },

      formsubmit() {

        var vma = this.article;

        fetch('/api/article', {
          method: id === 0 ? 'post' : 'put',
          body: JSON.stringify(this.article),
          headers: {
            'content-type': 'application/json'
          }
        })
        .then(data => {
          this.fetcharticle();
        })
        .catch(err => console.log(err));
      },
 
      onFileChange(e) {

        let files = e.target.files || e.dataTransfer.files,
            reader = new FileReader(),
            vm = this;

        if (!files.length) return;

          reader.onload = (e) => {
            axios.post('/api/upload',{ image: e.target.result })
              .then(response => {
                vm.article.thumb = '/images/' + response.data.file;
                vm.uploadText = "Обновить фото";
              })
              .catch(err => console.log(err));
          };
        reader.readAsDataURL(files[0]);
      },
      changeCat() {
        let vm = this,
            ac = vm.article.category;
        vm.sub_categories = vm.cats.filter(cat => cat.parent_id === ac && cat.type === 1);
        vm.extra_categories = vm.cats.filter(cat => cat.parent_id - 1 === ac && cat.type === 2);
      }
    }
  };
</script>
