<template>
    <div class="card right-block">
      <div class="card-header bg-white">
        {{ title }}
      </div>
      <template v-if="companies.length > 0">
        <div class="card-body p-2">
          <div v-for="company in companies" class="small m-1 mb-2">
            <a :href="company.url" class="no-underline">
              <div class="img-right mb-1">
                <img :src="(company.img_url ? company.img_url : '/images/story/r/images(' + Math.floor(Math.random() * 345) + ')')" class="img-fluid">
              </div>
              <div class="h6 text-danger mb-1 mt-0">{{ company.title }}</div>
              <div class="text-dark">Город: {{ cities[company.city] }}</div>
              <div class="text-dark">Телефоны: {{ company.phone }}</div>
              <span class="small text-light bg-danger pl-1 pr-1">подробнее &rarr;</span>
            </a>
          </div>
        </div>
      </template>
      <template  v-else>
      <div class="card-body p-2">
        <div v-for="article in articles" class="small m-1 mb-2">
          <template v-if="article.id !== article_id">
          <a :href="'/' + article.url" class="no-underline">
            <div class="img-right">
              <img :src="'/images/story/' + (article.thumb ? article.thumb : 'r/images(' + Math.floor(Math.random() * 345) + ')')" class="img-fluid">
            </div>
            <div class="h6 text-danger mb-1 mt-0">{{ article.title }}</div>
            <div class="text-dark">{{ stripHTML(article.body).substring(0, 60) + '...' }}</div>
          </a>
          </template>
        </div>
      </div>
      </template>
    </div>
</template>

<script>
  import cities from './data/cities.json';
  export default {
    data() {
      return {
        articles: [],
        companies: [],
        title: 'Материалы по теме',
        cities: cities,
      }
    },

    created() {
      this.$root.$on('cat', cat => { 
        this.category_id = cat.cat;
        this.article_id = cat.a_id;
        this.fetchArticles();

        if(cat.extra_cat && cat.extra_cat !== 0) {
          this.fetchCompanies(cat.extra_cat);
        }

      });
    },

    methods: {

      fetchArticles(page_url) {
        page_url = page_url || '/api/articles/';
        axios.get(page_url, {
          params: {
            category_id: this.category_id,
          }
        })
          .then(res => {
            this.articles = res.data.data;
          })
          .catch(err => console.log(err));
      },

      fetchCompanies(extra_cat_id) {
        axios.get('/api/companies/', {
          params: {
            category_id: extra_cat_id
          }
        })
          .then(res => {
            this.companies = res.data.data;
            this.title = 'Услуги по теме';
          })
          .catch(err => console.log(err));
      },

      stripHTML (value) {
        var div = document.createElement("div");
        div.innerHTML = value;
        var text = div.textContent || div.innerText || "";
        return text;
      },

    }
  }

</script>
