<template>
    <div class="container">
        <form enctype="multipart/form-data" :class="disabled">
          <div class="form-row mb-3 ml-1 pb-4 border-bottom">
            <div class="col-md-4">
              <div class="border rounded mt-4 profile-img"><img :src="company.img_url" alt="" class="img-fluid"></div>
              <label class="btn btn-light col-md-12 mt-2">{{ uploadText }}<input type="file" hidden v-on:change="onFileChange"></label>
            </div>
            <div class="col-md-7 ml-5">
              <div class="form-group">
                <label for="title">Название компании</label>
                <input v-model="company.title" type="text" class="form-control" id="title" placeholder="">
              </div>
              <div class="form-row">
                <div class="form-group col-md-7">
                  <label for="sphere">Сфера:</label>
                  <select v-model="company.sphere" class="form-control">
                    <option v-for="(category, index) in categories" :value="index+54">{{ category.name }}</option>
                  </select>
                </div>
                <div class="form-group col-md-5">
                  <label for="price_category">Ценовая категория</label>
                  <select v-model="company.price_category" id="price_category" class="form-control">
                    <option value="1">Эконом</option>
                    <option value="2">Стандарт</option>
                    <option value="3">Премиум</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label for="description">Краткое описание</label>
                <textarea v-model="company.description" class="form-control" id="description" placeholder=""></textarea>
              </div>
              <div class="form-group">
                <label for="phone">Телефон</label>
                <input v-model="company.phone"type="text" class="form-control" id="phone" placeholder="+">
              </div>
              <div class="form-group">
                <label for="www">Адрес сайта:</label>
                <input type="text" v-model="company.www" class="form-control">
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="about">Подробное описание</label>
            <vue-editor v-model="company.about" type="text" class="form-control" id="about" placeholder=""></vue-editor>
          </div>
          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="city">Город</label>
              <select v-model="company.city"id="city" class="form-control" @change="metroFilter">
                <option v-for="(city, index) in cities" :value="index">{{ city }}</option>
              </select>
            </div>
            <div class="form-group col-md-4">
              <label for="metro">Метро:</label>
              <select v-model="company.metro" class="form-control">
                <option v-for="(m, index) in metro" :value="index">{{ m }}</option>
              </select>
            </div>
            <div class="form-group col-md-4">
              <label for="email">Email</label>
              <input v-model="company.email" type="email" class="form-control" id="email" placeholder="">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="company.address">Адрес:</label>
              <input v-model="company.address" type="text" class="form-control" id="address">
            </div>
            <div class="form-group col-md-6">
              <label for="company.working_hrs">Часы работы:</label>
              <input v-model="company.working_hrs" type="text" class="form-control" id="working_hrs">
            </div>
           <!--  <div class="form-group col-md-4">
              <label for="inputState">Страна</label>
              <select v-model="company.country" id="country" class="form-control">
                <option selected>Россия</option>
                <option>Украина</option>
                <option>Белоруссия</option>
                <option>Казахстан</option>
                <option>Эстония</option>
              </select>
            </div> -->
          </div>
          <div class="form-row">
            <!-- <div class="form-group col-md-6">
              <label for="password">Пароль</label>
              <input v-model="company.password" type="password" class="form-control" id="password" placeholder="">
            </div> -->
          </div>
          <div class="form-group">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="gridCheck" v-model="company.agreement" true-value="1" false-value="0">
              <label class="form-check-label" for="gridCheck">
                Подтверждаю согласие на обработку персональных данных
              </label>
            </div>
          </div>
          <span class="btn btn-primary" @click="formsubmit()">Сохранить</span>
          <span class="btn btn-danger" @click="deleteCompany()">Удалить компанию</span>
        </form>
    </div>
</template>

<script>
  import cities from './data/cities.json';
  import metroAll from './data/metro.json';
  export default {
    data() {
      return {
        company: {
            // name: '',
            // status: '',
            // about: '',
            // gender: '',
            // date_of_birth: '',
            // martial_status: '',
            // date_wedding: '',
            // country: '',
            // city: '',
            // company: '',
            // phone: '',
            // email: '',
            // password: '',
            // interests_list: '',
            img_url: '/images/dummy.png',
            contact_id: contact_id || ''
        },
        interests: [],
        uploadText: 'Изменить фото',
        disabled: '',
        editable: editable,
        categories: [],
        cities: cities,
        metro: [],
        metroAll: metroAll,
        // dp: {
        //   format: 'yyyy-MM-dd'
        // }
      }
    },

    created() {
        if (company_id) this.fetchcompany();
        this.fetchCategories();
    },

    mounted() {
        /* Disable Image thumb due to 50kb upload restriction */
        Object.assign(document.getElementsByClassName('ql-image')[0].style, { 
          'opacity': 0,
          'cursor': 'default' 
        });

    },

    methods: {

      fetchcompany() {
        fetch('/api/company/' + company_id)
          .then(res => res.json())
          .then(res => {
            let vm = this;
            vm.company = res.data;
            if(vm.company.thumb === '/images/dummy.png') { 
              vm.uploadText = 'Загрузить фото';
            }
            this.metroFilter();
          })
          .catch(err => console.log(err));
      },

      fetchCategories() {
        axios.get('/api/categories/7')
          .then(res => {
            this.categories = res.data.data;
          })
          .catch(err => console.log(err));
      },

      formsubmit() {
        
        fetch('/api/company', {
          method: this.company ? 'post' : 'put',
          body: JSON.stringify(this.company),
          headers: {
            'content-type': 'application/json'
          }
        })
        .then(function(response) { return response.json(); })
        .then(data => {
          window.location = data.data.url;
        })
        .catch(err => console.log(err));
      },

      deleteCompany() {

        alert('Компания будет удалена без возможности восстановления!')
        fetch('/api/company', {
          method: 'POST',
          body: JSON.stringify({ 
            id: this.company.id,
            delete: true }),
          headers: {
            'content-type': 'application/json'
          } 
        })
        .then(res => window.location = '/')
        .catch(err => alert(err))

      },

      onFileChange(e) {

        let files = e.target.files || e.dataTransfer.files,
            reader = new FileReader(),
            vm = this;

        if (!files.length) return;

          reader.onload = (e) => {
            axios.post('/api/upload',{ image: e.target.result, path: 'company/' })
              .then(response => {
                vm.company.img_url = '/images/' + response.data.file;
                vm.uploadText = "Обновить фото";
              })
              .catch(err => console.log(err));
          };
        reader.readAsDataURL(files[0]);
      },

      metroFilter(e) {

        let metro_index = e !== undefined ? e.target.selectedIndex : this.company.city ? parseInt(this.company.city) : false;

        switch(metro_index) {
          case 0: case 1: case 2: case 3: case 4: case 5:
          this.metro = this.metroAll[metro_index];
          break;
          case 8: this.metro = this.metroAll[6];
          break;
          case 14: this.metro = this.metroAll[7];
          break;
          case 169: this.metro = this.metroAll[8];
          break;
          default: this.metro = [];
        }

      }
    }
  };
</script>
