<template>
    <div class="container">
      <div><a href="/pickup.html">Подобрать</a> > <a :href="'/' + category.slug">{{ category.name }}</a></div>
      <h1>{{ company.title }}</h1>
      <div class="row mt-4">
        <div class="col-4">
          <img :src="company.img_url" alt="" class="img-fluid">
        </div>
        <div class="col-8">
          <div v-if="company.city" class="city"><b>Город:</b> {{ cities[company.city] }}</div>
          <div v-if="company.phone" class="phone"><b>Телефон:</b> {{ company.phone }}</div>
          <div v-if="company.address" class="address"><b>Адрес:</b> {{ company.address }}</div>
          <div v-if="company.metro" class="metro"><b>Метро:</b> {{ metro[company.city][company.metro] }}</div>
          <div v-if="company.www" class="www"><b>Сайт:</b> {{ company.www }}</div>
          <div v-if="company.price_category" class="price_category"><b>Ценовая категория:</b> {{ price_category[company.price_category] }}</div>
        </div>
        <div class="row">
          <div class="col-12 m-3" v-html="company.about"></div>
          <a class="btn btn-outline-primary btn-sm ml-4" v-if="editable" :href="/company/ + this.company.id">Редактировать</a>
        </div>
      </div>
    </div>
</template>

<script>
  import cities from './data/cities.json';
  import metro from './data/metro.json';
  import * as CONST from '../app.js';
  export default {
    data() {
      return {
        company: {
        },
        editable: editable,
        company_id: '',
        category: {
            'slug': '',
            'name': ''
        },
        // thumb_path: '/images/company/',
        cities: cities,
        metro: metro,
        price_category: ["", "Эконом", "Стандарт", "Премиум"]
      }
    },

    created() {
        this.fetchCompany();
    },

    methods: {

      fetchCompany() {
        fetch('/api/company/' + company_id)
          .then(res => res.json())
          .then(res => {
            let vm = this;
            vm.company = res.data;
            if(res.data.sphere) axios.get('/api/category/' + res.data.sphere)
              .then(res => {
                vm.category = res.data.data;
                vm.$root.$emit('cat', { cat: vm.category.id, co: company_id });
                vm.createMeta();
              })
              .catch(err => console.log(err));
            // this.page_description = vm.company.description;
            if(vm.company.thumb === '/images/dummy.png') { 
              vm.uploadText = 'Загрузить фото';
            }

          })
          .catch(err => console.log(err));
      },

      fetchCategory() {
        
      },
      createMeta() {
          let meta = document.createElement('meta'),
              title = document.querySelector('title'),
              vm = this;
          meta.name = 'Description';
          meta.content =  'Каталог – ' + (vm.category.name || '') + ' – ' + CONST.DESC;
          document.getElementsByTagName('head')[0].insertBefore(meta, title);
          title.innerHTML = vm.company.title + ' • ' + (vm.category.name || '') + ' • Подобрать • ' + window.location.hostname;
      }
    }
  };
</script>
