<template>
    <div class="container">
      <div class="row">
        <nav aria-label="Page navigation">
          <ul class="pagination">
            <li v-bind:class="[{ disabled: !pagination.prev_page_url }]" class="page-item"><a class="page-link" href="#" @click="fetchAllMedia(pagination.prev_page_url)">Назад</a></li>
            <li v-bind:class="[{ disabled: !pagination.next_page_url }]" class="page-item"><a class="page-link" href="#" @click="fetchAllMedia(pagination.next_page_url)">Вперед</a></li>
          </ul>
        </nav>
      </div>
      <div class="row lookup-media">
        <div v-for="(mediaItem, index) in allMedia" class="col-md-4 pt-2 media-item">
          <div class="img">
            <a :href="path[mediaItem.owner_type] + mediaItem.url.substring(mediaItem.url.lastIndexOf('/')+1,mediaItem.url.lastIndexOf('_l')) + '.html'"><img :src="mediaItem.url" alt="" class="img-fluid"></a>
          </div>
          <div class="details">
            <div>{{ mediaItem.album_name }} - {{ mediaItem.title }}</div>
          </div>
        </div>
      </div>
      <div class="row">
        <nav aria-label="Page navigation">
          <ul class="pagination">
            <li v-bind:class="[{ disabled: !pagination.prev_page_url }]" class="page-item"><a class="page-link" href="#" @click="fetchAllMedia(pagination.prev_page_url)">Назад</a></li>
            <li v-bind:class="[{ disabled: !pagination.next_page_url }]" class="page-item"><a class="page-link" href="#" @click="fetchAllMedia(pagination.next_page_url)">Вперед</a></li>
          </ul>
        </nav>
      </div>
    </div>
</template>

<script>
import cities from './data/cities.json';
import * as CONST from '../app.js';
  export default {
    data() {
      return {
        allMedia: {},
        filter: {},
        media: {
            url: '/images/dummy.png',
            media_type: 0,
            album_id: 0,
            gallery_id: 0
        },
        uploadText: 'Загрузить фото',
        id: '',
        pagination: {},
        path: ['/user/ActionShow/UserWeddingPhoto/', '/company/ActionShow/CompanyWeddingPhoto/']
        // dp: {
        //   format: 'yyyy-MM-dd'
        // }
      }
    },

    created() {
      let vm = this;

      try {
        vm.editable = editable;
        vm.user_id = id;
      } catch(e) {
        vm.editable = false;
        vm.id = '';
      }

      if(vm.media.url === '/images/dummy.png') { 
        vm.uploadText = 'Загрузить фото';
      }

      vm.fetchAllMedia();
      vm.createMeta();
    },

    methods: {

      fetchAllMedia(page_url) {
        page_url = page_url || '/api/allmedia/';
        axios.get(page_url, { id: this.user_id })
          .then(res => {
            this.allMedia = res.data.data;
            this.makePagination(res.data);
          })
          .catch(err => console.log(err));
      },
      makePagination(data) {
        let pagination = { 
          current_page: data.current_page,
          last_page: data.last_page,
          next_page_url: data.next_page_url,
          prev_page_url: data.prev_page_url
        }
        this.pagination = pagination;
      },
      createMeta() {
          let meta = document.createElement('meta'),
              title = document.querySelector('title'),
              vm = this;
          meta.name = 'Description';
          // meta.content = CONST.DESC;
          document.getElementsByTagName('head')[0].insertBefore(meta, title);
          title.innerHTML = window.location.hostname + ' • Фото и видео';
          // console.log(meta.content, title.innerHTML);
      }
    }
  }
</script>
