<template>
    <div class="container lookup-media">
      <div class="row mt-4">
        <div class="col-md-8">
          <div class="swiper-container">
            <div class="swiper-wrapper">
              <div class="swiper-slide m-auto" v-for="(big_media, index) in allMedia">
                <img :src="big_media.url" alt="" class="img-fluid">
              </div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
          </div>
        </div>
          <div class="col-md-4">
            <div>{{ big_media.title }}</div>
            <div class="small">{{ big_media.album_name }}</div>
            <div class="card p-2 mt-4 small">
              <div>Фото: {{ company.title }}</div>
              <div>{{ company.description }}</div>
              <div v-if="company.city">Город: {{ cities[company.city] }}</div>
              <div v-if="company.phone">Телефон: {{ company.phone }}</div>
              <div v-if="company.www">Сайт: {{ company.www }}</div>
          </div>
          <div v-if="editable"><a :href="'/media/'+big_media.id">edit</a></div>
        </div>
      </div>
      <div class="row mt-2 pt-2 border-top">
        <div v-for="(mediaItem, index) in allMedia" class="col-md-2 media-thumb-small">
          <img :src="mediaItem.url" alt="" class="media-thumb-small" @click="changeBig" :index="index">
        </div>
      </div>
    </div>
</template>

<script>

import cities from './data/cities.json';
import * as CONST from '../app.js';

import Swiper from 'swiper'

  export default {
    data() {
      return {
        allMedia: {},
        filter: {},
        uploadText: 'Загрузить фото',
        pagination: {},
        editable: editable,
        company: {},
        cities: cities,
        big_media: {}
        // dp: {
        //   format: 'yyyy-MM-dd'
        // }
      }
    },

    created() {
      this.fetchAllMedia();
      this.fetchCompany();
    },

    mounted() {
      setTimeout(() => this.swiper(), 500)

    },

    methods: {

      fetchCompany() {
        axios.get('/api/company/' + user_id)
            .then(res => {
            this.company = res.data.data;
          })
          .catch(err => console.log(err));
      },

      fetchAllMedia(page_url) {
        page_url = page_url || '/api/allmedia/';
        axios.get(page_url, { 
          params : {
            album_id: album_id
          } 
        })
          .then(res => {
            this.allMedia = res.data;
            // this.big_media = res.data.filter(media => media.id == media_id)[0];
            this.createMeta();
          })
          .catch(err => console.log(err));
      },
      createMeta() {
          let meta = document.createElement('meta'),
              title = document.querySelector('title'),
              vm = this;
          meta.name = 'Description';
          meta.content = 'Фото и видео – ' + (vm.allMedia[0].album_name || '') + ' – ' + CONST.DESC;
          document.getElementsByTagName('head')[0].insertBefore(meta, title);
          title.innerHTML = vm.allMedia[0].title + ' • ' + (vm.allMedia[0].album_name || '') + ' • Посмотреть • ' + window.location.hostname;
      },
      swiper() {
        var swiper = new Swiper('.swiper-container', {
          navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
          },
          grabCursor: false,
        });
        this.s = swiper;
      },
      changeBig(e) {
        
        this.s.slideTo($(e.target).attr('index'))

      }
    }
  };
</script>
