<template>
    <div class="container">
      <div class="row">
          <div class="container">
            <form enctype="multipart/form-data">
              <div class="form-row mb-3 ml-1 pb-4 border-bottom">
                <div class="col-md-4">
                  <div class="border rounded mt-4 media-img"><img :src="media.url" alt="" class="img-fluid" id="imgEdit"></div>
                  <label class="btn btn-light col-md-12 mt-2">{{ uploadText }}<input type="file" hidden v-on:change="onFileChange"></label>
                </div>
                <div class="col-md-7 ml-5">
                  <div class="form-group">
                    <label for="title">Название фото</label>
                    <input v-model="media.title" type="text" class="form-control" id="title" placeholder="">
                  </div>
                  <div class="form-group">
                    <label for="description">Описание</label>
                    <textarea v-model="media.description" class="form-control" id="description" placeholder=""></textarea>
                  </div>
                  <div class="form-group">
                    <label for="album_id">Альбом</label>
                    <input v-model="media.album_id"type="text" class="form-control" id="phone" placeholder="+">
                  </div>
                  <div class="form-group">
                    <label for="gallery_id">Галерея</label>
                    <input v-model="media.gallery_id"type="text" class="form-control" id="phone" placeholder="+">
                  </div>
                </div>
              </div>
              <span class="btn btn-primary" @click="formsubmit()">Сохранить</span>
            </form>
        </div>
      </div>
    </div>
</template>

<script>
  export default {
    data() {
      return {
        filter: {},
        media: {
            url: '/images/dummy.png',
            media_type: 0,
            album_id: 0,
            gallery_id: 0
        },
        uploadText: 'Загрузить фото',
        id: '',
        pagination: {},
        editable: 1
        // dp: {
        //   format: 'yyyy-MM-dd'
        // }
      }
    },

    created() {
      let vm = this;

      // try {
      //   vm.editable = editable;
      //   vm.user_id = id;
      // } catch(e) {
      //   vm.editable = false;
      //   vm.id = '';
      // }

      if(vm.media.url === '/images/dummy.png') { 
        vm.uploadText = 'Загрузить фото';
      }

      vm.fetchMedia();
    },

    methods: {
      fetchMedia() {
        axios.get('/api/media/' + id)
          .then(res => {
            let vm = this;
            vm.media = res.data.data;
            if(vm.media.url === '/images/dummy.png') { 
              vm.uploadText = 'Загрузить фото';
            }

          })
          .catch(err => console.log(err));
      },

      formsubmit() {
          // axios.put('/api/media/',{ media: this.media })
          //     .then(response => {
          //       console.log(response)
          //     })
          //     .catch(err => console.log(err));

        fetch('/api/media/', {
          method: this.media.id ? 'put' : 'post',
          body: JSON.stringify(this.media),
          headers: {
            'content-type': 'application/json'
          }
        })
        .then(data => {
          this.media = { url: '/images/dummy.png' }
          this.uploadText = 'Загрузить фото';
        })
        .catch(err => console.log(err));
      },

      onFileChange(e) {

        let files = e.target.files || e.dataTransfer.files,
            reader = new FileReader(),
            vm = this;

        if (!files.length) return;

          reader.onload = (e) => {
            axios.post('/api/upload',{ image: e.target.result })
              .then(response => {
                this.media.url = '/images/' + response.data.file;
                this.uploadText = "Изменить";
              })
              .catch(err => console.log(err));
          };
        reader.readAsDataURL(files[0]);
      },

      edit(index) {
        // this.media = this.allMedia[index]
        this.uploadText = "Изменить"; 
      }
    }
  };
</script>
