<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col p-0 text-center links">
                <a href="/readup.html">Почитать</a>
                <a href="/lookup.html">Посмотреть</a>
                <a href="/talkup.html">Пообщаться</a>
                <a href="/pickup.html">Подобрать</a>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                description: 'Свадебный сайт не похожий на другие, подготовка к свадьбе, свадебные истории, полезные адреса, тесты, фотоальбомы молодоженов, видео и многое другое Вы найдете на BudetSvadba.Ru'
            }
        },
        created() {

            // this.createDescription();
        },
        methods: {
            createDescription() {
                let meta = document.createElement('meta'),
                    title = document.querySelector('title');
                meta.name = 'Description';
                meta.content = window.article.description || this.description;
                document.getElementsByTagName('head')[0].insertBefore(meta, title);
                console.log(this.description);
            }
        }
    }
</script>
