<template>
    <div class="container">
        <form action="https://merchant.webmoney.ru/lmi/payment.asp" method="POST">
            <h4>Оплата за размещение компании в каталоге</h4>
            <div class="form-check mt-4">
              <input class="form-check-input" type="radio" name="r1" id="r1" value="1000" v-model="amount">
              <label class="form-check-label" for="r1">
                1 000 рублей - на 1 месяц
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="r2" id="r2" value="6000" v-model="amount">
              <label class="form-check-label" for="r2">
                6 000 рублей - на 12 месяцев
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="r3" id="r3" value="15000" v-model="amount">
              <label class="form-check-label" for="r3">
                15 000 рублей - бессрочно
              </label>
            </div>
            <div class="form-check mb-4">
              <input class="form-check-input" type="radio" name="r4" id="r4" value="10" v-model="amount" checked >
              <label class="form-check-label" for="r4">
                10 рублей - просто так
              </label>
            </div>
            <input v-for="(value, key) in form.wm_inputs" type="hidden":name="key" :value="value">
            <input type="submit" class="btn btn-primary" :value="'Оплатить '+form.wm_inputs.LMI_PAYMENT_AMOUNT+' рублей'">
        </form>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                form: {
                    action: 'https://merchant.webmoney.ru/lmi/payment.asp',
                    method: 'POST',
                    wm_inputs: {
                        LMI_PAYEE_PURSE: 'R275770444256',
                        LMI_PAYMENT_AMOUNT: '10',
                        LMI_PAYMENT_DESC: 'Test payment'
                    }
                },
                amount: 10
            }
        },
        updated() {

            var vm = this;
            vm.form.wm_inputs.LMI_PAYMENT_AMOUNT = vm.amount;

        },
        methods: {
    
        }
    }
</script>
