<template>
    <div class="container pickup-companies">
      <div class="row mb-2">
        <div class="col-md-4" v-for="category in categories">
          <a :href="category.slug" class="">{{ category.name }}</a>
        </div>
      </div>
      <div class="row mt-4 mb-4">
        <div class="col-12" v-if="category_name">
          <h3><span class="pickup-category-title">Свадебные услуги -> </span>{{ category_name }}</h3>
        </div>
      </div>
      <div class="row m-1">
        <nav aria-label="Page navigation">
          <ul class="pagination">
            <li v-bind:class="[{ disabled: !pagination.prev_page_url }]" class="page-item"><a class="page-link" href="#" @click="fetchCompanies(pagination.prev_page_url)">Назад</a></li>
            <li v-bind:class="[{ disabled: !pagination.next_page_url }]" class="page-item"><a class="page-link" href="#" @click="fetchCompanies(pagination.next_page_url)">Вперед</a></li>
          </ul>
        </nav>
      </div>
      <div class="row">
        <div v-for="company in companies" class="col-md-4 mt-2 mb-4">
          <div class="pickup-img media-thumb-small" v-if="company !== null">
            <a :href="company.url">
              <img :src="company.img_url" alt="" class="img-fluid">
            </a>
          </div>
          <div class="details" v-if="company !== null">
            <a class="pickup-title" :href="company.url">{{ company.title }}</a>
            <div class="text-info small">{{ cities[company.city] }}</div>
            <div v-html="descFormat(company.description)" class="small"></div>
          </div>
        </div>
      </div>
      <div class="row m-1">
        <nav aria-label="Page navigation">
          <ul class="pagination">
            <li v-bind:class="[{ disabled: !pagination.prev_page_url }]" class="page-item"><a class="page-link" href="#" @click="fetchCompanies(pagination.prev_page_url)">Назад</a></li>
            <li v-bind:class="[{ disabled: !pagination.next_page_url }]" class="page-item"><a class="page-link" href="#" @click="fetchCompanies(pagination.next_page_url)">Вперед</a></li>
          </ul>
        </nav>
      </div>
    </div>
</template>

<script>
import cities from './data/cities.json';
import * as CONST from '../app.js';
  export default {
    data() {
      return {
        companies: {},
        pagination: {},
        categories: [],
        category_name: '',
        cities: cities
      }
    },

    created() {
      this.fetchCategories()
    },

    methods: {

      fetchCompanies(page_url) {
        page_url = page_url || '/api/companies/';
        axios.get(page_url, {
          params: {
            category_id: typeof category_id === 'undefined' ? '' : category_id
          }
        })
          .then(res => {
            this.companies = res.data.data;
            this.makePagination(res.data);
            this.createMeta();
          })
          .catch(err => console.log(err));
      },
      makePagination(data) {
        let pagination = { 
          current_page: data.current_page,
          last_page: data.last_page,
          next_page_url: data.next_page_url,
          prev_page_url: data.prev_page_url
        }
        this.pagination = pagination;
      },

      fetchCategories() {
        axios.get('/api/categories/7')
          .then(res => {
            this.categories = res.data.data;
            if(typeof category_id !== 'undefined') this.category_name = (res.data.data).filter(function(cat) { return cat.id == category_id; })[0].name;
            this.fetchCompanies();
          })
          .catch(err => console.log(err));
      },
      createMeta() {
          let meta = document.createElement('meta'),
              title = document.querySelector('title'),
              vm = this;
          meta.name = 'Description';
          meta.content = CONST.DESC;
          document.getElementsByTagName('head')[0].insertBefore(meta, title);
          title.innerHTML = window.location.hostname + ' • Свадебные услуги';
      },
      descFormat(desc) {
        return !desc || desc.length <= 100 ? desc : desc.substring(0, 50) + '...';
      }
    }
  };
</script>
