<template>
    <div class="container">
      <div class="profile-login">{{ profile.login }}</div>
        <form enctype="multipart/form-data">
          <div class="form-row mb-3 ml-1 pb-4 border-bottom">
            <div class="col-md-4">
              <div class="border rounded mt-4 profile-img"><img :src="profile.img_url" alt="" class="img-fluid"></div>
              <label class="btn btn-light col-md-12 mt-2">{{ uploadText }}<input type="file" hidden v-on:change="onFileChange"></label>
            </div>
            <div class="col-md-7 ml-5">
              <div class="form-group">
                <label for="name">Отображаемое имя</label>
                <input v-model="profile.name" type="text" class="form-control" id="name" placeholder="">
              </div>
              <div class="form-group">
                <label for="status">Статус</label>
                <input v-model="profile.status" type="text" class="form-control" id="status" placeholder="">
              </div>
              <div class="form-group">
                <label for="about">Коротко о себе</label>
                <textarea v-model="profile.about" class="form-control" id="about" placeholder=""></textarea>
              </div>
              <div class="form-row" id="interests">
                <div class="form-group">
                  <label for="interests_list">Интересы</label>
                  <textarea v-model="interests" type="text" class="form-control" id="interests_list" placeholder=""></textarea>
                </div>
                <div class="row">
                  <div class="form-check m-2">
                    <input v-model="interests" class="form-check-input" type="checkbox" value="1" id="check1">
                    <label class="form-check-label" for="check1">
                      Одежда
                    </label>
                  </div>
                  <div class="form-check m-2">
                    <input v-model="interests" class="form-check-input" type="checkbox" value="2" id="check2">
                    <label class="form-check-label" for="check2">
                      Цветы
                    </label>
                  </div>
                  <div class="form-check m-2">
                    <input v-model="interests" class="form-check-input" type="checkbox" value="3" id="check3">
                    <label class="form-check-label" for="check3">
                      Музыка
                    </label>
                  </div>
                  <!-- <div class="form-check m-2">
                    <input v-model="interests" class="form-check-input" type="checkbox" value="Выключен" id="check4" disabled>
                    <label class="form-check-label" for="check4">
                      Выключен
                    </label>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-1">
            <label for="gender">Пол:</label>
            <select v-model="profile.gender" class="form-control">
              <option value="0">Женский</option>
              <option value="1">Мужской</option>
            </select>
            </div>
            <div class="form-group col-md-3">
            <label for="date_of_birth">Дата рождения:</label>
            <div id="date_test">
              <!-- <datepicker language="ru" :format="dp.format"></datepicker> -->
            </div>
            

            <input type="date" v-model="profile.date_of_birth" class="form-control">
            </div>
            <div class="form-group col-md-3">
            <label for="martial_status">Семейное положение:</label>
            <select v-model="profile.martial_status" class="form-control">
              <option value="1">В браке</option>
              <option value="2">В отношениях</option>
              <option value="3">В поиске</option>
            </select>
            </div>
            <div class="form-group col-md-3">
              <label for="profile.date_wedding">Дата свадьбы:</label>
              <input v-model="profile.date_wedding" type="date" class="form-control" id="date_wedding">
            </div>
          </div>
          <div class="form-row">
           <!--  <div class="form-group col-md-4">
              <label for="inputState">Страна</label>
              <select v-model="profile.country" id="country" class="form-control">
                <option selected>Россия</option>
                <option>Украина</option>
                <option>Белоруссия</option>
                <option>Казахстан</option>
                <option>Эстония</option>
              </select>
            </div> -->
            <div class="form-group">
              <label for="phone">Телефон</label>
              <input v-model="profile.phone"type="text" class="form-control" id="phone" placeholder="+">
            </div>
            <div class="form-group col-md-4">
              <label for="city">Город</label>
              <select v-model="profile.city" id="city" class="form-control">
                <option v-for="(city, index) in cities" :value="index">{{ city }}</option>
              </select>
            </div>
            <div class="form-group col-md-4">
              <label for="company">Компания</label>
              <input v-model="profile.company" type="text" class="form-control" id="company">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="email">Email</label>
              <input v-model="profile.email" type="email" class="form-control" id="email" placeholder="">
            </div>
            <!-- <div class="form-group col-md-6">
              <label for="password">Пароль</label>
              <input v-model="profile.password" type="password" class="form-control" id="password" placeholder="">
            </div> -->
          </div>
          <div class="form-group">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="gridCheck">
              <label class="form-check-label" for="gridCheck">
                Подтверждаю согласие на обработку персональных данных
              </label>
            </div>
          </div>
          <span class="btn btn-primary" @click="formsubmit()">Сохранить</span>
        </form>
    </div>
</template>

<script>
  import cities from './data/cities.json';
  import martial_status from './data/martial_status.json';
  export default {
    data() {
      return {
        profile: {
            // name: '',
            // status: '',
            // about: '',
            // gender: '',
            // date_of_birth: '',
            // martial_status: '',
            // date_wedding: '',
            // country: '',
            // city: '',
            // company: '',
            // phone: '',
            // email: '',
            // password: '',
            // interests_list: '',
            // img_url: ''
        },
        cities: cities,
        interests: [],
        uploadText: 'Обновить фото',
        martial_status: martial_status
        // dp: {
        //   format: 'yyyy-MM-dd'
        // }
      }
    },

    created() {
      this.fetchProfile();
    },

    methods: {

      fetchProfile() {
        fetch('/api/user/' + login)
          .then(res => res.json())
          .then(res => {
            let vm = this;
            vm.profile = res.data;
            vm.profile.login = login;
            if(vm.profile.img_url === '') { 
              vm.profile.img_url = '/images/dummy.png';
              vm.uploadText = 'Загрузить фото';
            }
          })
          .catch(err => console.log(err));
      },

      formsubmit() {
          this.profile.interests_list = (this.interests).join(', ') || 'Свадебная тематика';

          // axios.put('/api/user/',{ profile: this.profile })
          //     .then(response => {
          //       console.log(response)
          //     })
          //     .catch(err => console.log(err));

        fetch('/api/user/', {
          method: 'put',
          body: JSON.stringify(this.profile),
          headers: {
            'content-type': 'application/json'
          }
        })
        // .then(res => res.JSON())
        .then(data => {
          this.fetchProfile();
        })
        .catch(err => console.log(err));
      },

      onFileChange(e) {

        let files = e.target.files || e.dataTransfer.files,
            reader = new FileReader(),
            vm = this;

        if (!files.length) return;

          reader.onload = (e) => {
            axios.post('/api/upload',{ image: e.target.result })
              .then(response => {
                vm.profile.img_url = '/images/' + response.data.file;
                vm.uploadText = "Обновить фото";
              })
              .catch(err => console.log(err));
          };
        reader.readAsDataURL(files[0]);
      }
    }
  };
</script>
