<template>
    <div class="container">
      <h1>{{ profile.login }}</h1>
      <img :src="profile.img_url" alt="" class="img-fluid">
      <div class="details-box">
        <div class="name">{{ profile.name }}</div>
        <div class="date_of_birth">День рождения: {{ profile.date_of_birth }}</div>
        <div class="city">Город: {{ cities[profile.city] }}</div>
        <div class="gender">Пол: {{ gender[profile.gender] }}</div>
        <div class="martial_status">Семейное положение: {{ martial_status[profile.martial_status] }}</div>
        <div class="date_wedding">Дата свадьбы: {{ profile.date_wedding }}</div>
        <div v-if="profile.company_id" class="company_id">Является представителем: <a :href="company_url">{{ company_title }}</a></div>
      </div>
      <div class="about">{{ profile.about }}</div>
      <div v-if="editable" class="edit"><a :href="/user/ + this.profile.login">edit</a></div>
    </div>
</template>

<script>
  import cities from './data/cities.json';
  import martial_status from './data/martial_status.json';
  import * as CONST from '../app.js';
  export default {
    data() {
      return {
        profile: {
            // name: '',
            // status: '',
            // about: '',
            // gender: '',
            // date_of_birth: '',
            // martial_status: '',
            // date_wedding: '',
            // country: '',
            // city: '',
            // company: '',
            // phone: '',
            // email: '',
            // password: '',
            // interests_list: '',
            // img_url: ''
        },
        interests: [],
        uploadText: 'Обновить фото',
        disabled: '',
        editable: editable,
        cities: cities,
        martial_status: martial_status,
        gender: [ "♀", "♂" ],
        company_url: '',
        company_title: ''
        // dp: {
        //   format: 'yyyy-MM-dd'
        // }
      }
    },

    created() {
      this.fetchProfile();
    },

    methods: {

      fetchProfile() {
        fetch('/api/user/' + login)
          .then(res => res.json())
          .then(res => {
            let vm = this;
            vm.profile = res.data;
            vm.profile.login = login;
            if(vm.profile.img_url === '') { 
              vm.profile.img_url = '/images/dummy.png';
              vm.uploadText = 'Загрузить фото';
            }
            if(res.data.company_id) {
              fetch('/api/company/' + res.data.company_id)
                .then(res => res.json())
                .then(res => {
                  vm.company_title = res.data.title;
                  vm.company_url = res.data.url;
                })
                .catch(err => console.log(err));
            }
            this.createMeta();

          })
          .catch(err => console.log(err));
      },
      fromCompany() {
        fetch('/api/company/' + vm.profile.company_id)
          .then(res => res.json())
          .then(res => {
            return res.data.title;
          })
          .catch(err => console.log(err));
      },
      createMeta() {
          let meta = document.createElement('meta'),
              title = document.querySelector('title'),
              vm = this;
          meta.name = 'Description';
          meta.content = 'Пользователи – ' + (vm.profile.login || '') + ' – ' + CONST.DESC;
          document.getElementsByTagName('head')[0].insertBefore(meta, title);
          title.innerHTML = (vm.profile.name || '') + ' • Пообщаться • ' + window.location.hostname;
      }
      
    }
  };
</script>
