<template>
  <div class="container">
    <h3>{{ category_name }}</h3>
    <div class="row">
      <nav aria-label="Page navigation">
        <ul class="pagination">
          <li v-bind:class="[{ disabled: !pagination.prev_page_url }]" class="page-item"><a class="page-link" href="#" @click="fetchArticles(pagination.prev_page_url)">Назад</a></li>
          <li v-bind:class="[{ disabled: !pagination.next_page_url }]" class="page-item"><a class="page-link" href="#" @click="fetchArticles(pagination.next_page_url)">Вперед</a></li>
        </ul>
      </nav>
    </div>
    <div class="row readup-articles">
      <div v-for="article in articles" class="col-md-4 p-2">
        <div class="details">
          <div :class="article.thumb ? 'img' : 'img-r'">
            <a :href="'/' + article.url"><img class="img-fluid" :src="thumb_path + (article.thumb ? article.thumb : 'r/images(' + Math.floor(Math.random() * 345) + ')')"></a>
          </div>
          <div class="title"><a :href="'/' + article.url">{{ article.title }}</a></div>
          <div class="category"><a :href="'/' + categories[article.category].slug">{{ categories[article.category].name }}</a></div>
          <div class="description"><a :href="article.url"><div>{{ article.description ? article.description : makeDesc(article.body) }}</div></a></div>
          <div class="category sub" v-html="subCategory(article.sub_category, article.extra_category)"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <nav aria-label="Page navigation">
        <ul class="pagination">
          <li v-bind:class="[{ disabled: !pagination.prev_page_url }]" class="page-item"><a class="page-link" href="#" @click="fetchArticles(pagination.prev_page_url)">Назад</a></li>
          <li v-bind:class="[{ disabled: !pagination.next_page_url }]" class="page-item"><a class="page-link" href="#" @click="fetchArticles(pagination.next_page_url)">Вперед</a></li>
        </ul>
      </nav>
    </div>
    <div class="row" v-if="!category_name">
      <div class="col-md-4 p-2 pb-4" v-for="category in base_categories">
        <h5><a :href="'/' + category.slug">{{ category.name }}</a></h5>
        {{ category.description }}
      </div>
    </div>
  </div>
</template>
<script>
  // import categories from './data/categories.json';
  import * as CONST from '../app.js';
  export default {
    data() {
      return {
        articles: {},
        pagination: {},
        categories: {},
        base_categories: {},
        category_id: '',
        category_name: '',
        category_type: '' 
      }
    },

    props: ['home'],

    created() {
      this.fetchCategories();
    },

    methods: {

      fetchArticles(page_url) {
        page_url = page_url || '/api/articles/';
        axios.get(page_url, {
          params: {
            category_id: this.category_id,
            category_type: this.category_type
          }
        })
          .then(res => {
            this.articles = res.data.data;
            this.thumb_path = '/images/story/';
            this.makePagination(res.data);
            this.createMeta();
          })
          .catch(err => console.log(err));
      },
      fetchCategories() {
        axios.get('/api/categories/')
          .then(res => {
            this.categories = res.data.data;
            this.categories.unshift('');
            this.base_categories = (res.data.data).filter(cat => cat.type === 0);

            if(window.category_id) this.category_id = category_id;

            if(window.category_name) {
              this.category_name = category_name;
              this.category_type = category_type;
            } 

            this.fetchArticles();
          })
          .catch(err => console.log(err));
      },
      makePagination(data) {
        let pagination = { 
          current_page: data.current_page,
          last_page: data.last_page,
          next_page_url: data.next_page_url,
          prev_page_url: data.prev_page_url
        }
        this.pagination = pagination;
      },
      subCategory(as, ae) {

        let catId = as && as != 0 ? as : ae && ae != 0 ? ae : 0;
        let с = this.categories[catId];
        let path = с.parent_id === 7 ? '/soveti/' : '';
        return catId ? '<a href="' + path + с.slug + '">' + с.name + '</a>' : '';
      },
      makeDesc(body) {
        let tmp = document.createElement("div");
        tmp.innerHTML = body;
        return tmp.innerText.substr(0, 75) + '...';
      },
      createMeta() {
        if(!this.home) {

          let meta = document.createElement('meta'),
              title = document.querySelector('title'),
              vm = this;
          meta.name = 'Description';
          meta.content = CONST.DESC;
          document.getElementsByTagName('head')[0].insertBefore(meta, title);
          title.innerHTML = window.location.hostname + ' • Свадебные истории, конкурсы, тосты, сценарии свадеб';

        }
      }
    }
  };
</script>
