<template>
    <div class="container">
      <div class="row">
        <nav aria-label="Page navigation">
          <ul class="pagination">
            <li v-bind:class="[{ disabled: !pagination.prev_page_url }]" class="page-item"><a class="page-link" href="#" @click="fetchProfiles(pagination.prev_page_url)">Назад</a></li>
            <li v-bind:class="[{ disabled: !pagination.next_page_url }]" class="page-item"><a class="page-link" href="#" @click="fetchProfiles(pagination.next_page_url)">Вперед</a></li>
          </ul>
        </nav>
      </div>
      <div class="row talkup-profiles">
        <div v-for="profile in profiles" class="col-md-3 mt-2">
          <div class="img">
            <a :href="'/user/'+profile.login+'.html'"><img :src="profile.img_url" alt="" class="img-fluid"></a>
          </div>
          <div class="details">
            <div>{{ profile.name }}</div>
            <div>{{ profile.status }}</div>
            <div>{{ martial_status[profile.martial_status] }}</div>
            <div>{{ cities[profile.city] }}</div>
          </div>
        </div>
      </div>
      <div class="row">
        <nav aria-label="Page navigation">
          <ul class="pagination">
            <li v-bind:class="[{ disabled: !pagination.prev_page_url }]" class="page-item"><a class="page-link" href="#" @click="fetchProfiles(pagination.prev_page_url)">Назад</a></li>
            <li v-bind:class="[{ disabled: !pagination.next_page_url }]" class="page-item"><a class="page-link" href="#" @click="fetchProfiles(pagination.next_page_url)">Вперед</a></li>
          </ul>
        </nav>
      </div>
    </div>
</template>

<script>
  import cities from './data/cities.json';
  import martial_status from './data/martial_status.json';
  import * as CONST from '../app.js';
  export default {
    data() {
      return {
        profiles: {},
        pagination: {},
        cities: cities,
        martial_status: martial_status
      }
    },

    created() {
      this.fetchProfiles();
    },

    methods: {
      fetchProfiles(page_url) {
        page_url = page_url || '/api/users/';
        axios.get(page_url)
          .then(res => {
            this.profiles = res.data.data;
            this.makePagination(res.data);
            this.createMeta();
          })
          .catch(err => console.log(err));
      },
      makePagination(data) {
        let pagination = { 
          current_page: data.current_page,
          last_page: data.last_page,
          next_page_url: data.next_page_url,
          prev_page_url: data.prev_page_url
        }
        this.pagination = pagination;
      },
      createMeta() {
          let meta = document.createElement('meta'),
              title = document.querySelector('title'),
              vm = this;
          meta.name = 'Description';
          meta.content = CONST.DESC;
          document.getElementsByTagName('head')[0].insertBefore(meta, title);
          title.innerHTML = window.location.hostname + ' • Побщайтесь';
          console.log(meta.content, title.innerHTML);
      }

    }
  };
</script>
