
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond&display=swap');

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//Swiper
@import '~swiper/dist/css/swiper.min.css';

html, body {
    background-color: #fff;
    // background-image: url(/images/giphy.gif);
    background-size: 300px 600px;
    background-attachment: fixed;
    color: #636b6f;
    font-family: 'Cormorant Garamond', sans-serif;
    font-weight: 100;
    height: 100vh;
    font-size: 110%;
    line-height: normal;
    margin: 0;
}
.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  margin: 0;
  padding: 0;
}
.navbar-brand {
    width: 280px;
    @media screen and (max-width: 812px) {
        width: auto;
    }
    img {
        width: 100%;
    }
}
.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 6vh;
    color: #EEE;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}
.no-underline {
    text-decoration: none !important;
}
.m-b-md {
    margin-bottom: 30px;
}
.menu-welcome {
    background:  url('/images/wedding_photoreports/60/818.jpeg') center 15%;
    background-size: cover;
    border-radius: 40px 0 40px 0;

    .col-md-6 {
	border: #FFF 1px solid;
    }
    div:nth-of-type(1) {
        background: rgba(0,0,255,0.2);
        border-radius: 40px 0 0 0;
    }
    div:nth-of-type(2) {
        background: rgba(0,255,0,0.2);
        // border-radius: 0 20px 0 0;
    }
    div:nth-of-type(3) {
        background: rgba(255,0,0,0.2);
        // border-radius: 0 0 0 20px;
    }
    div:nth-of-type(4) {
        background: rgba(150,150,0,0.2);
        border-radius: 0 0 40px 0;
    }
    & div a {
        display: inline-block;
        margin: 6vw 33%; 
        font-size: 21px;
        color: #FFF;
        text-shadow: 0 0 5px #555;
    }
    & div a:hover {
        text-decoration: none;
        text-shadow: 0 0 5px #CCC;
    }
    & div:hover {
        background: none;
    }
}

.profile-login {
    font-size: 24px;
    margin: 10px 10px 30px;
    border-bottom: #AAA 1px solid;
}
.profile-img {
    overflow: hidden;
    max-height: 300px;
}
.profile-img img {
    min-width: 210px;
}
.form-disabled {
    input, select, textarea {
        border: none;
        pointer-events: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        resize: none;
    }
    input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
    }
    input[type="password"], 
    label[for="password"], 
    .form-check, .form-check-label {
        display: none;
    }
}
.talkup-profiles, .pickup-companies, .readup-articles {
    .img {
        position: relative;
        height: 150px;
        overflow: hidden;
    }

    .img img {
        position: absolute;
        top: -100px;
        right: -100px;
        bottom: -100px;
        left: -100px;
        margin: auto;    
    }

    .img-r img {
        position: static;
        height: 200px;
    }
}

.pickup-companies {

    .pickup-category-title {
        font-size: 18px;
        font-weight: 100;
    }
    .pickup-img {
        height: 100px;
        overflow: hidden;
    }
    .pickup-title {
        display: block;
        color: #C00;
        margin: 5px 0;
        min-height: 45px;
        font-weight: 400;
    }
}

.readup-articles {
    .img {
        height: 200px;
    }

    .img img {
        width: 360px;
        &:hover {
            filter: brightness(90%);
        }
    }
    .title {
        padding: 10px 0 2px;
        font: 18px/24px 'Cormorant Garamond', sans-serif;
        a {
            text-decoration: none;
            color: #C00;
            &:hover {
                color: #F00;
            }
        }
    }
    .description {
        font-size: 14px;
        line-height: 18px;
        a {
            text-decoration: none;
            color: #333;
            &:hover {
                color: #F00;
            }
        }
    }
    .category {
        font: 12px/16px 'Cormorant Garamond', sans-serif;
        padding: 4px 0;
        a {        
            color: #AAA;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }

        &.sub {
            color: #F00;
            font-size: 11px;
        }
    }
}

.lookup-media {

    .media-item {
        
    }
    .img {
        border: #CCC 1px solid;
    }
    .media-thumb-small {
        position:relative;
        overflow:hidden;
        padding-bottom:15%;
        margin-bottom: 2%;
    }
    .media-thumb-small img {
        position:absolute;
        zoom: 25%;
        &:hover {
            cursor: pointer;
            filter: brightness(120%);
        }
    }
}

.right-block {
    
    .img-right {
            position: relative;
            height: 100px;
            overflow: hidden;

        img {
            position: absolute;
            top: -100px;
            right: -100px;
            bottom: -100px;
            left: -100px;
            margin: auto;    
        }
    }
}
.home-slider {
    width: 100%;
    height: 40vw;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    video {
        width: 100%;
    }
}

/* edit article */

.quillWrapper {
     min-height: 300px;
}
.ql-container {
    height: 70%!important;
}

.ql-editor {
    min-height: 100px;
}
